    <!-- About Section -->
    <section id="about" class="container content-section text-absolute">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h1>About</h1>
              <br/>
              <h4><p>J. WEBSTER PLUMBING is fully-licensed, insured, and trained to specialise in  any hot water installation that complies with strict Australian standards.</p>
                <p>With knowledge and expertise in the leading brands of electric, gas, solar and heat pump systems, I customise my services to ensure that your needs are met with peace of mind, on time and within budget.</p>
                <br/></h4>
              </div>
        </div>
    </section>
