    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h1>About Us</h1>
              <br/>
              <h4><p>ALLCOASTAL TILING is fully insured and licensed to protect you from bearing unnecessary liabilities.</p>
                <p>I have earned a great reputation for the high-quality services provided and constantly strive to achieve client satisfaction with a commitment to service excellence.</p>
                <p>I am a licensed and professional tiler with a thorough understanding of current trends, materials and techniques which can be applied to your current new build, addition or even small private project.</p>
                <br/></h4>
              </div>
        </div>
    </section>
